.movieCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 300px;
    border: 2px solid bisque;
    text-align: center;
    color:rgb(189,189,189);
}
.movieType{
    font-size: 16px;
    margin-right: 20px;
}
.movieYear{
    font-size: 20px;
    margin-right: 20px;
    border: 1px solid grey;
    border-radius: 0.1cm;
    position: relative;
    left: 30%;
    top:-12%;
}

.movieCard > div {
    display: flex;
    width: 60%;
    flex-direction: column;
    position: relative;
    left: -15%;
}

.movieCardActions{
    left: 27% !important;
    top: -10%;
}

.movieCardActions > a{
    text-decoration: none;
}

.movieCardActions > a:visited {
    color:rgb(255, 255, 255);
    font-weight: 400;
}