.footerText {
    color: rgb(246,82,97);
    font-weight: normal;
    text-align: center;
    background-color: rgb(66,66,66);
    font-size: 24px;
};

.footerContainer {
    background-color: rgb(66,66,66);
}
